body {
  font-family: arial, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  padding: 0 1em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1.25em 0 0.5em 0;
  line-height: 1.2;
}
h1 {
  font-family: boldonse, arial, sans-serif;
}
a {
  color: red;
  text-decoration: none;
}
footer {
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #ABB2BF;
    background-color: #282C34;
  }
  a {
  color: #E06C75;
  }
}
